<h1 class="display-4">Welcome to Fishes database</h1>

<p class="mb-4">This is a sails.js app</p>
<a href="/fishes/list" class="btn btn-light">View fishes</a>
<a href="/fishes/add" class="btn btn-light">Add fish</a>